.fz-12 {
    font-size: 12px;
}


.card-body {
    .photo {
        width: 48px;
        height: 48px;
    }


    .answer {
        margin-bottom: 180px;
    }

}

.content {
    width: calc(100% - 296px);
}